<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450200143151-mnhpukiu6hnbpdd9n79cjlmfuhfuen46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450200143151-mnhpukiu6hnbpdd9n79cjlmfuhfuen46</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ccfPFYGSUTJv_KmyRJaxzS537VES2e0</string>
	<key>GCM_SENDER_ID</key>
	<string>450200143151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praveen.heyy</string>
	<key>PROJECT_ID</key>
	<string>heyy-7c685</string>
	<key>STORAGE_BUCKET</key>
	<string>heyy-7c685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450200143151:ios:8e839bf4b58096ef708dda</string>
	<key>DATABASE_URL</key>
	<string>https://heyy-7c685-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>